
<ion-content>
  <br>
  <br>
  <br>
  <br>
  <ion-title>
    <ion-text color="secondary">
      <h1 style="font-family:cursive; margin-left: 85px;"> Belle de Jour </h1>
    </ion-text>
  </ion-title>
  <br>
  <br>
  <img src="/assets/icon/belledejour.jpeg" style="width: 70%; margin-left: 50px;">
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active"  expand="block" shape="round">
    <ion-text color="light">
      Login
    </ion-text>
  </ion-button>
  <br>
  <br>
  <ion-button [routerLink]="['/cadastro']" routerLinkActive="router-link-active"  expand="block" shape="round">
    <ion-text color="light">
      Cadastre-se
    </ion-text>
  </ion-button>
</ion-content>
