
<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="agendamento">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label> Agendar </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ver-agendamentos">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label> Ver agendamentos </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="conta-usuario">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> Conta </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
